:root{
    --light: #ffffff;
    --dark: #26282C;
}

html, body{
    background: var(--dark);
    color: var(--light);
}

html[data-theme="light"]{
    --dark: #ffffff;
    --light: #26282C;
}

.light{
    color: var(--light);
}

.dark{
    color: var(--dark);
}

.light_bg{
    background: var(--light);
}

.dark_bg{
    background: var(--dark);
}

.theme_icon{
    color: var(--light);
    cursor: pointer;
    transition: transform 0.5s;
}

.btn-cd{
    padding: 15px;
    font-family: "Roboto",sans-serif;
    background-color: #e4e4e4;
    font-weight: bold;
    width: auto;
    height: auto;
    text-decoration: none;
    color: #000000;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.btn-cd:hover, .btn-cd:focus, .btn-cd:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
}

.card-banner{
    background-color: rgb(220, 240, 224);
    border-radius: 25px;
    color: #26282C;
    padding: 5px;
    margin: 5px;
}

.card-commu{
    padding: 15px;
    font-family: "Roboto",sans-serif;
    background-color: #bfcfd8;
    width: auto;
    height: 150px;
    text-decoration: none;
    color: #000000;
    border-radius: 10px;
    border-color: #000000;
}
.btn-commu{
    padding: 15px;
    font-family: "Roboto",sans-serif;
    background-color: #e4e4e4;
    font-weight: bold;
    width: auto;
    height: 150px;
    text-decoration: none;
    color: #000000;
    border-radius: 10px;
    border-color: #000000;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.btn-commu:hover, .btn-commu:focus, .btn-commu:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
}

.title{
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    font-weight: lighter;
}

/* Search */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}

.input-box{
    position: relative;
    height: 20px;
    max-width: 150px;
    width: 100%;
    margin: 0 30px;
    border-radius: 6px;
    background-color: #ffffff;
}

.input-box input{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 15px;
    outline: none;
    border: none;
    border-radius: 6px;
}

.input-box .search{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 60px;
    align-items: center;
    justify-content: center;
}

.input-box .close-icon{
    position: absolute;
    right: -45px;
    top: 50%;
    transform: translate(-50%);
    padding: 5px;
}