:root{
    --light: #ffffff;
    --dark: #26282C;
}

html, body{
    background: var(--dark);
    color: var(--light);
}

html[data-theme="light"]{
    --dark: #ffffff;
    --light: #26282C;
}

.light{
    color: var(--light);
}

.dark{
    color: var(--dark);
}

.light_bg{
    background: var(--light);
}

.dark_bg{
    background: var(--dark);
}

.theme_icon{
    color: var(--light);
    cursor: pointer;
    transition: transform 0.5s;
}

.flip{
    transform: rotate(360deg) !important;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.search {
    width: 200px;
    height: 10px;
    background-color: rgb(241, 241, 241);
    border: solid 1px #26282C;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.search > i{
    font-size: 15px;
}

.search > input{
    flex: 1;
    height: 20px;
    border: none;
    outline: none;
    font-size: 10px;
} */

.btn{
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #ffffff;
    width: auto;
    text-decoration: none;
    color: #26282C;
    border-radius: 5px;
    border-width: 2px;
    border-color: #868688;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.btn:hover, .btn:focus, .btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
}

.card-banner{
    background-color: rgb(238, 255, 241);
    border-radius: 25px;
    color: #26282C;
    padding: 10px;
    margin: 30px;
}