:root{
    --light: rgba(243,244,246,0.9);
    --dark:rgb(32, 35, 39); 
    --darkky: rgb(32, 37, 44);
    --lightty: rgba(243,244,246,0.9);
}

/* css darkmode-1 */
html, body{
    background: var(--dark);
    color: var(--light);
}

html[data-theme="light"]{
    --dark: rgba(243,244,246,0.9);
    --light: rgb(32, 35, 39);
    --lightty:rgb(22, 26, 32); 
    --darkky: rgba(238, 238, 238, 0.9);
}

.light{
    color: var(--light);
}

.dark{
    color: var(--dark);
}

.light_bg{
    background: var(--light);
}

.dark_bg{
    background: var(--dark);
}

.theme_icon{
    color: var(--light);
    cursor: pointer;
    transition: transform 0.5s;
}

/* end cssdarkmode-1 */

.btn-cd{
    padding: 15px;
    font-family: "Roboto",sans-serif;
    background: var(--darkky);
    text-decoration: none;
    color: var(--light);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 1 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    border: 1px solid rgb(160, 160, 160);
}

.btn-cd:hover, .btn-cd:focus, .btn-cd:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
}

.navbar{
    background-color: var(--dark);
    color: var(--dark);
}

.card-banner{
    background-color: var(--darkky);
    border-radius: 25px;
    color: var(--lightty);
    padding: 5px;
    margin: 5px;
    border: 1px solid cadetblue;
}

.card-pay{
    padding: 10px;
    border: 1px solid;
    height: auto;
    width: auto;

}

.card-commu{
    padding: 10px;
    font-family: "Roboto",sans-serif;
    background-color: #bfcfd8;
    width: auto;
    height: 150px;
    text-decoration: none;
    color: #000000;
    border-radius: 10px;
    border-color: #000000;
}
.btn-commu{
    padding: 10px;
    font-family: "Roboto",sans-serif;
    background-color: var(--darkky);
    font-weight: bold;
    width: auto;
    height: 150px;
    text-decoration: none;
    color: var(--btn-light);
    border-radius: 10px;
    border-color: #000000;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
    border: 1px solid rgb(160, 160, 160);
}

.btn-commu:hover, .btn-commu:focus, .btn-commu:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
}

.title{
    font-family: "Roboto",sans-serif;
    font-size: 13px;
    font-weight: lighter;
    margin-top: 10px;
    text-decoration: none;
}

.commutext{
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    font-weight: bold;
}

/* Search ลองหาเทมเพลตแบบใหม่ อันนี้ไม่ work ตอนเปลี่ยนสลับ dark mode */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto",sans-serif;
}

.input-box{
    position: relative;
    height: 20px;
    max-width: 150px;
    width: 100%;
    margin: 0 30px;
    border-radius: 6px;
    border: 1px solid;
}

.input-box input{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 15px;
    outline: none;
    border: none;
    border-radius: 6px;
}

.input-box .search{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 60px;
    align-items: center;
    justify-content: center;
}

.input-box .close-icon{
    position: absolute;
    right: -45px;
    top: 50%;
    transform: translate(-50%);
    padding: 5px;
}

/* ทำให้ box-1 ซ่อน ตอน scale หน้าจอขนาดเล็กกว่า col-xl */
.box-1{
    background-color: var(--darkky);
    display: block;
}

.box-2{
    background-color: var(--darkky);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: none;
}